CompileFlags:
  Compiler: /usr/bin/g++
  CompilationDatabase: ./build
  Remove:
  - -m*          # for some reason clangd does not like the -m flags
  - -Werror      # Don't turn warnings into errors

Diagnostics:
  Suppress:
  - asm_unknown_register_name

